*.iml
*.apk
bin/
captures/*
gen/
*.dex
.gradle
/local.properties
/.idea/*
.DS_Store
/build
*/build

# Keep these idea folders/files. They should remain shared for this project.
!/.idea/copyright
!/.idea/scopes
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml
!/.idea/inspectionProfiles
!/.idea/dictionaries/global.xml

# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
