*/build
build/
*.iml
*.apk
bin/
captures/*
gen/
*.dex
.gradle
/local.properties
.idea/*
/.idea/workspace.xml
/.idea/libraries
.DS_Store
values.xml

# Code style should be shared
!/.idea/codeStyles

# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
/model-generator/integrations/models-output/
/models-parcelable/src/main/java/com/vimeo/networking2/
/models-serializable/src/main/java/com/vimeo/networking2/
