*/build
build/
*.iml
*.apk
bin/
captures/*
gen/
*.dex
.gradle
/local.properties
.idea/
/.idea/workspace.xml
/.idea/libraries
.DS_Store
values.xml

# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output